<h1>Edit the <%= @chalet.title %> chalet</h1>

<%= render 'edit_chalet' %>

<ul class="list-inline">
<% @chalet.chalet_pictures.select(&:persisted?).each do |pic| %>
  <li>
    <%= image_tag pic.picture.url(:thumb) %>
    <%= link_to "Delete this picture", account_chalet_chalet_picture_path(@chalet, pic), method: :delete  %>
  </li>
  <% end %>
</ul>