.fullscreen-bg {
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: image-url("home-background.jpg");
}

.fullscreen-search {
  top: 40%;
  padding-top: $navbar-height;
  padding-bottom: 207px;
  text-align: center;
  font-weight: 300;
  color: $gray-light;
  h1 {
  color: white;
  padding: 1.5em;
  }
  .form-control,
  .btn {
    margin: 0px 5px;
  }
}