.fullscreen-search {
  background: image-url("bg5_goodsize.jpg");
  height: 100%;
  width: 100%;
  margin-top: -100px;
  text-align: center;
  font-weight: 300;
  color: $light-grey;
  h1 {
  color: white;
  padding-bottom: 20px;
  margin-top: 0px;
  text-transform: uppercase;
  letter-spacing: 10px;
  z-index: 1;
  }
  .form-control{
    width: 30%;
    height: $navbar-item-height;
    color: $gray-much-lighter;
    letter-spacing: $navbar-letter-spacing;
    background: $navbar-bg;
    border: 1px $navbar-bg;
    border-radius: $navbar-btn-radius;
  }
  .btn {
    margin: 0px 5px;
    border-radius: $navbar-btn-radius;
    color: $light-grey;
    letter-spacing: $navbar-letter-spacing;
  }
}

.fullscreen-film {
  background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.3));
  height: 100%;
  width: 100%;
  margin-top: -100px;
  padding-bottom: 145px;
}

#main-search{
  text-align: center;
  // padding-right: 300px;
  top: 250px;
}

.home-search{
  margin-right: 10px;
}