.fullscreen-search {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
    ),
  image-url("home-background.jpg");
  height: 100%;
  width: 100%;
  margin-top: -100px;
  padding-bottom: 145px;
  text-align: center;
  font-weight: 300;
  color: $light-grey;
  h1 {
  color: white;
  padding-bottom: 20px;
  margin-top: 0px;
  text-transform: uppercase;
  letter-spacing: 10px;
  z-index: 1;
  }
  .form-control{
    width: 30%;
    height: $navbar-item-height;
    color: $gray-much-lighter;
    letter-spacing: $navbar-letter-spacing;
    background: $navbar-bg;
    border: 1px $navbar-bg;
    border-radius: $navbar-btn-radius;
  }
  .btn {
    margin: 0px 5px;
    border-radius: $navbar-btn-radius;
    color: $light-grey;
  }
}

#main-search{
  text-align: center;
  padding-right: 300px;
  top: 250px;
}

.home-search{
  margin-right: 10px;
}







////////////////////////////////////// Willem's Stuff Below
// .fullscreen-bg {
//   position:absolute;
//   top:0;
//   left:0;
//   z-index: -1;
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   background-image: image-url("home-background.jpg");
// }

// .fullscreen-search {
//   top: 40%;
//   padding-top: $navbar-height;
//   padding-bottom: 207px;
//   text-align: center;
//   font-weight: 300;
//   color: $gray-light;
//   h1 {
//   color: white;
//   padding: 1.5em;
//   }
//   .form-control,
//   .btn {
//     margin: 0px 5px;
//   }
// }