.container.padded
  .row
    h1.text-center = "Available chalets in #{@city}"
    - @chalets.each do |chalet|
      .col-xs-12.col-sm-6.col-md-4
        .card
          .card-head
            - if chalet.chalet_pictures.any?
              = image_tag(chalet.chalet_pictures.first.picture.url(:medium), alt: "Chalet Picture")
            - else
              = image_tag("http://lorempixel.com/g/300/300/nature/")
            .card-title
              h2 = chalet.title
              h3 = chalet.city
          .card-content
            p = "#{chalet.daily_price} euros a night"
            p = "#{chalet.max_nb_of_guests} guests per night"
          .card-action
            = link_to "Back", chalets_path, class: "btn btn-default"
            = link_to "Book chalet", new_chalet_booking_path(chalet), class: "btn btn-primary"

