
<% content_for(:after_js) %>

<% if @chalet.chalet_pictures.any? %>
  <div class="centered-carousel">
    <div class="owl-carousel">
      <% @chalet.chalet_pictures.each do |pic| %>
        <div> <%= image_tag pic.picture.url(:cover) %> </div>
      <% end %>
    </div>
  </div>
<% end %>
