/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
  color: $gray-darker;
  font-family: $base-font;
  font-size: $base-size;
  background-color: $gray-much-lighter;
}


.alert{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  color: $light-grey;
}
  h1 {
  font-size: 50px;
}

.body-wrapper {
  margin: 50px auto;
  width: 970px;
  text-align: center;
  .row {
    padding: 25 0 25 0;
    border-bottom: 1px solid $gray-lighter;
  }
}



.card {
  margin: 30 auto;
  padding: 0;
  width: 400px;
  background-color: white;
  border: 1px solid $gray-lighter;
  border-radius: 5px;
  .card-head {
    position: relative;
    text-align: left;
    img {
      width: 100%;
      height: 300px;
      z-index: 1;
      border-radius: 4px;
    }
    .card-title {
      position: absolute;
      border-radius: 3px;
      background-color: rgba(70, 70, 70, 0.8);
      bottom: 10;
      left: 10;
      z-index: 10;
      h2, h3 {
        padding: 5 10 5 10;
        margin: 0;
        color: white;
      }
      h2 {
        font-weight: 400;
        font-size: 26px;
      }
      h3 {
        font-weight: 300;
        font-size: 20px;

      }
    }
  }
  .card-content {
    padding: 10;
    text-align: left;
    p {
      font-size: 20px;
      font-weight: 300;
    }
  }
  .card-action {
    padding: 10 10 30 10;
    text-align: center;
    .btn {
      margin: 0 5 0 5;
    }
  }
}

h1, h2, h3, h4 {
  margin: 0;
}