#footer{
  margin: 0;
  padding: 25;
  bottom:0;
  left:0;
  width:100%;
  background: RGBA(5, 3, 6, 0.5);
  color: $light-grey;
  font-size: 16px;
  li {
    margin-right: 10;
  }
  a > i {
  font-size: 35px;
  color: darken(white, 10%);
    &:hover {
      color: white;
    }
  }
  @media (min-width: $screen-sm-min) {
  }
}