#footer{
  background-color: $dark-grey;
  height: 95px;
  color: $light-grey;
  bottom:0;
  left:0;
  width:100%;
  p{
    padding-top: 10px;
  }
}

#social-bar{
  font-size: 35px;
  a>i{
    padding: 10px 5px;
    color: $light-blue;
    &:hover{
      color: $blood-red;
    }
  }
}