/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: $gray-light;
$navbar-hover-color: $yellow;
$navbar-font-family: $navbar-font;
$navbar-font-size: 16px;
$navbar-title-size: 20px;

$navbar-text-transform: capitalize;
$navbar-font-weight: 400;
$navbar-letter-spacing: 1.5px;
$navbar-font-family: $navbar-font;
$navbar-bg: RGBA(5, 3, 6, 0.5);

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 80px;
$navbar-vertical-padding: 15px;
$navbar-horizontal-padding: 20px;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-item-height: $navbar-height - 2 * ($navbar-vertical-padding);
$navbar-img-height: $navbar-item-height;
$navbar-btn-height: $navbar-item-height;
$navbar-h1-padding: floor(($navbar-item-height - $navbar-title-size) / 2) - 4;
$navbar-btn-vertical-padding: floor(($navbar-item-height - $navbar-font-size) / 2) - 4;
$navbar-btn-horizontal-padding: $navbar-btn-vertical-padding;
$navbar-btn-radius: 5px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */
.navbar-snowbnb {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: row nowrap; /* Safari */
  flex-flow:         row nowrap;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
  -webkit-align-items: flex-start; /* Safari */
  align-items:         flex-start;

  background: $navbar-bg;
  font-family: $navbar-font-family;
  border: none;
  font-size: $navbar-font-size;
  text-transform: $navbar-text-transform;
  font-weight: $navbar-font-weight;
  letter-spacing: $navbar-letter-spacing;
  padding: $navbar-vertical-padding $navbar-horizontal-padding;
  height: $navbar-height;
  transition: background 0.4s ease;

  .nav-left {
    width: 25%;
    height: $navbar-item-height;
    text-align: left;
    .logo img {
        height: $navbar-img-height;
    }
  }

  .nav-center {
    width: 50%;
    height: $navbar-item-height;
    text-align: center;
    vertical-align: middle;
    .form-control {
      width: 100%;
      height: $navbar-item-height;
      background: $navbar-bg;
      border: 1px $navbar-bg;
      border-radius: $navbar-btn-radius;
    }
  }

  .nav-right {
    width: 25%;
    height: $navbar-item-height;
    text-align: right;
    vertical-align: middle;
    .img-avatar {
      border: $navbar-profile-border-width solid $navbar-profile-border-color;
      box-shadow: 0 0 2px rgb(200, 200, 200);
      height: $navbar-height - (2 * $navbar-profile-border-width);
      margin-right: 10px;
      border-radius: $navbar-profile-radius;
    }

    .navbar-nav > li > .dropdown-menu{
      border-radius: 0;
      margin-top: 10px;
    }

    .navbar-nav > li > .dropdown-menu:before{
      position: absolute;
      background: white;
      height: 10px;
      width: 10px;
      content: "\00a0";
      display: block;
      left: 50%;
      margin-left: -5px;
      top: -5px;
      transform: rotate(45deg);
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      z-index: -1;
    }
  }

  .btn {
    height: $navbar-btn-height;
    padding: $navbar-btn-vertical-padding $navbar-btn-horizontal-padding;
    border-radius: $navbar-btn-radius;
  }

  .navbar-nav > li > a,
  .navbar-nav > .open > a,
  .navbar-nav > li > a:focus,
  .navbar-nav > .open > a:focus {
    outline: none;
    color: $navbar-color;
    line-height: $navbar-height;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
    background-color: transparent;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > .open > a:hover {
    color: $navbar-hover-color;
    background-color: transparent;
  }

  .navbar-brand,
  .navbar-brand:hover {
    outline: none;
    color: $navbar-color;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
  }

  .navbar-nav > li > a.btn {
    line-height: $navbar-btn-height;
    padding: 0 $navbar-btn-horizontal-padding;
    color: red;
    border-radius: $navbar-btn-radius;
    margin-top: ($navbar-height + 2 * $navbar-vertical-padding - $navbar-btn-height) / 2;
    font-weight: bold;
    background-color: orange;
    font-size: 12px;
    &:hover{
      background-color: darken(orange, 30%);
    }
  }
}

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */

@media screen and (max-width: 768px) {
  .navbar-wagon {
    .navbar-brand img, .navbar-brand svg {
      height: 50px;
    }
    .navbar-brand, .navbar-brand:hover
     {
      display: block;
      color: $navbar-color;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
