/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: $gray-light;
$navbar-font-family: $navbar-font;
$navbar-font-size: 16px;
$navbar-title-size: 20px;

$navbar-text-transform: capitalize;
$navbar-font-weight: 400;
$navbar-letter-spacing: 1.5px;
$navbar-font-family: $navbar-font;
$navbar-bg: RGBA(5, 3, 6, 0.5);

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 80px;
$navbar-vertical-padding: 15px;
$navbar-horizontal-padding: 20px;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-item-height: $navbar-height - 2 * ($navbar-vertical-padding);
$navbar-img-height: $navbar-item-height;
$navbar-btn-height: $navbar-item-height;
$navbar-h1-padding: floor(($navbar-item-height - $navbar-title-size) / 2) - 4;
$navbar-btn-vertical-padding: floor(($navbar-item-height - $navbar-font-size) / 2) - 4;
$navbar-btn-horizontal-padding: $navbar-btn-vertical-padding;
$navbar-btn-radius: 5px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 1px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */
.navbar-snowbnb {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: row nowrap; /* Safari */
  flex-flow:         row nowrap;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
  -webkit-align-items: flex-start; /* Safari */
  align-items:         flex-start;

  background: $navbar-bg;
  font-family: $navbar-font-family;
  border: none;
  font-size: $navbar-font-size;
  text-transform: $navbar-text-transform;
  font-weight: $navbar-font-weight;
  letter-spacing: $navbar-letter-spacing;
  padding: $navbar-vertical-padding $navbar-horizontal-padding;
  height: $navbar-height;
  transition: background 0.4s ease;

  .nav-left {
    width: 25%;
    height: $navbar-item-height;
    text-align: left;
    .logo img {
        height: $navbar-img-height;
    }
  }

  .nav-center {
    width: 50%;
    height: $navbar-item-height;
    text-align: center;
    vertical-align: middle;
    .form-control {
      width: 100%;
      height: $navbar-item-height;
      color: $gray-much-lighter;
      letter-spacing: $navbar-letter-spacing;
      background: $navbar-bg;
      border: 1px $navbar-bg;
      border-radius: $navbar-btn-radius;
    }
  }

  .nav-right {
    width: 25%;
    height: $navbar-item-height;
    text-align: right;
    vertical-align: middle;
    .dropdown {
      height: $navbar-item-height;
      .img-avatar {
        border: $navbar-profile-border-width solid $navbar-profile-border-color;
        height: $navbar-img-height;
        margin-right: 10px;
        border-radius: $navbar-profile-radius;
      }
      .dropdown-menu {
        border-radius: $navbar-btn-radius;
      }
      .dropdown-menu > li {
        border-radius: 0;
        padding: 5px 0;
      }
    }
  }

  .btn {
    height: $navbar-btn-height;
    padding: $navbar-btn-vertical-padding $navbar-btn-horizontal-padding;
    border-radius: $navbar-btn-radius;
  }

  a.dropdown-toggle {
    color: $gray-lighter;
  }

  a.dropdown-toggle:hover {
    color: white;
  }

  // a.dropdown-menu {
  //   color: red;
  // }

  // a.dropdown-menu:hover {
  //   color: dark-red;
  // }
}

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */

@media screen and (max-width: 768px) {
}
